<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>YouTubeLook</title>
</head>
<body>
    <div class="screen">
        <div class="content-container">
            <h1 class="title"></h1>
            <div class="card">
                <div class="input-container">
                    <input type="text" name="searchbar" id="inputUser" placeholder="Type YouTube account name">
                    <button id="searchButton">Skill</button>
                </div>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>